/*Ajustes body con imagen*/
body{
    background-image: url(imágenes/ImagenFondo.jpg); /*Imagen de fondo*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;

    padding-top: 91.703px; /* Ajusta el contenido para que no quede oculto bajo el header */
}

/*Contenedor que encierra todo el body*/
.container-principal{
    display: grid; /*Usando CSS Grid*/
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header"   
        "content content content"              
        "footer footer footer";
    row-gap: 50px; /*Espacio entre filas*/
}

/*Diseño responsivo*/
@media (width < 768px){
    .container-principal{
        row-gap:0;/*Quita el espacio entre filas*/
    }
}

/*Main que contiene Título, Carrusel, Paquetes, Destinos destacados y Mapa*/
.container-principal main{
    grid-area: content;

    display: grid; /*Usando CSS Grid*/
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        ". title title ."
        ". carousel carousel ."
        ". packages packages ."
        ". featured featured ."
        ". map map .";
    /*row-gap: 10px; /*Espacio entre filas*/
}

/*Diseño responsivo*/
@media (width < 768px){
    .container-principal main{
        grid-template-areas: 
        "title title title title"
        "carousel carousel carousel carousel"
        "packages packages packages packages"
        "featured featured featured featured"
        "map map map map";
    }
}

/*Encabezado*/
.container-principal header{
    grid-area: header;
    
    /*Propiedades para hacer que el header sea fijo */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Asegura que esté por encima de otros elementos */
    backdrop-filter: blur(5px); /* Opcional: efecto de desenfoque */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    
    /*justify-items: stretch;
    align-self: self-start;*/    
}

/*Título*/
.container-principal main .title{
    grid-area: title;
    background-color: hsla(0, 0%, 0%, 0.5);
}

/*Carrusel*/
.container-principal main .carousel{
    grid-area: carousel;
    background-color: hsla(0, 0%, 0%, 0.5);
}

/*Paquetes*/
.container-principal main .packages{
    grid-area: packages;
    background-color: hsla(0, 0%, 0%, 0.5);    
}

/*Destinos destacados*/
.container-principal main .featured-destinations{
    grid-area: featured;
    background-color: hsla(0, 0%, 0%, 0.5);
}

/*Mapa*/
.container-principal main .map-container{
    grid-area: map;
    background-color: hsla(0, 0%, 0%, 0.5);
}

/*Pie de página*/
.container-principal footer{
    grid-area: footer;
    backdrop-filter: blur(5px); /* Opcional: efecto de desenfoque */
    background-color: hsla(0, 0%, 0%, 0.8); /* Fondo semi-transparente */   
}

/*Ajustes desplazamiento al presionar botones del header*/
html {
    scroll-behavior: smooth; /* Activa el desplazamiento suave */
    scroll-padding-top: 91.703px; /* Ajusta el valor según la altura de tu header */
}

/*Ajustes imágenes carrusel*/
.carousel-img {
    width: 100%; /* Se ajusta al ancho del contenedor */
    max-width: 800px; /* Ancho máximo de 800px */
    height: auto; /* Ajusta la altura proporcionalmente */
    aspect-ratio: 16 / 10; /* Relación de aspecto basada en 800x500 */
    object-fit: cover; /* Recorta la imagen si no encaja perfectamente */
}

/*Color fondo cuadro filtrar*/
#cuadroFiltrar{
    background-color: rgba(178, 227, 253, 0.8);
}

/*Color fondo cuadro nota*/
#cuadroNota{
    background-color: rgba(231, 18, 11, 0.5);
}

/*Color fondo cuadro paquetes*/
#cuadroPaquetes{
    background-color: rgba(178, 227, 253, 0.5);
}

/*Color fondo paquetes individuales*/
.colorPaquete{
    background-color: rgba(178, 227, 253, 0.8);
    color: black; /*Color letra*/
}

/*Color fondo mensaje de resultados */
#message {
    font-size: 1.2rem; /*Tamaño letra*/
    color: black; /*Color letra*/
    background-color: rgba(178, 227, 253, 0.8);
}

/*Ajustes imágenes paquetes*/
.package-img {
    width: 100%; /* Se ajusta al ancho del contenedor */
    max-width: 413px; /* Ancho máximo de 413px */
    height: auto; /* Ajusta la altura proporcionalmente */
    aspect-ratio: 413/274; /* Relación de aspecto basada en 413x274 */
    object-fit: cover; /* Recorta la imagen si no encaja perfectamente */
}

/*Activo encabezado*/
.nav-link.active {
    text-decoration: underline;
    text-decoration-color: black; /* Color del subrayado */
    text-decoration-thickness: 1px; /* Grosor del subrayado */
}

